
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout.html::html_head">
    <title>All My Listings</title>
</head>
<body>
<div th:replace="fragments/layout.html :: navbar"></div>

<div> </div>
<div class="row align-items-center justify-content-center" >
    <form th:action="@{/property/allmylistings/search}">
        <p style="margin-top: 100px">Search by Address:</p>
        <input type="text" name="keyword" id = "keyword" th:value="${keyword}" placeholder="Search" size="50" >
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
</div>
<div>&nbsp;</div>

<div class="row align-items-center justify-content-center">
    <a th:href="@{/property/newlistingform}"><button class="btn btn-primary"> + Add New Listing</button></a>
</div>
<div>&nbsp;</div>

<div th:unless="${#lists.isEmpty(allMyListings)}">
<div class="container">
    <div class="row">
        <div class="col" th:each="property : ${allMyListings}">
            <div class="row align-items-center justify-content-center">
            <div class="card" style="width: 40rem;" >
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="image, iterstat : ${imageMap.get(property.getId())}" th:class="${iterstat.index}== 0  ? 'carousel-item active':'carousel-item'">
                            <img th:src="@{${image}}" class="d-block w-100" alt="...">
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${property.address}"></h5>
                    <p class="card-text" th:text="${property.description}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${property.housingType.getHousingType()}"></li>
                    <li class="list-group-item" th:text="'District '+ ${property.districtLocation.getDistrict()}"></li>
                    <li class="list-group-item" th:text="${#numbers.formatInteger(property.size, 3, 'COMMA')} +' sqft'"></li>
                    <li class="list-group-item" th:text="'S$ '+ ${#numbers.formatInteger(property.askingPrice, 3, 'COMMA')}"></li>
                    <li class="list-group-item" th:text="${property.priceNegotiable} == true ? 'Price Negotiable' : 'Price Non Negotiable'"></li>

                </ul>
                <div class="card-body">
                    <a href="listingform.html" class="btn btn-secondary" th:href="@{/property/editlisting/}+${property.id}">Edit</a>
                    <button id="deletePropListButton" class="btn btn-primary" th:data-plid="${property.getId()}" th:onclick="deletePropListConfirm(this.getAttribute('data-plid'))">Delete</button>
                </div>
            </div>
</div>
            <div>&nbsp;</div>
        </div>


    </div>
    </div>
</div>
<div th:insert="fragments/layout.html::footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/propertylisting.js}"></script>
</body>
</html>