
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<head th:insert="fragments/layout.html::html_head">
    <title>Property Listing Photo Form</title>
</head>

<body>
<div th:replace="fragments/layout.html :: navbar"></div>

<h1 style="padding-top: 100px">Add Photos</h1>
<form method="POST" th:action="@{/property/addphototolisting/}+${propertylisting.id}" th:object="${propertylisting}" enctype="multipart/form-data">
    <p th:text="'Add listing photos for: '+ ${propertylisting.address}"></p>
    <fieldset>
        <input type="hidden" th:field="${propertylisting.id}"/>
    </fieldset>
    <fieldset>
        PROPERTY IMAGES:</br>
        (Max upload 5MB)
        <input id="uploadFile" type="file" name="files" accept="image/png, image/jpeg" multiple required/>
    </fieldset>
    <fieldset>
        <button id="imageSubmitButton" type="submit" class="btn btn-primary" value="SUBMIT" >SUBMIT</button>

    </fieldset>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/propertylisting.js}"></script>

</body>
</html>