<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout.html :: html_head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>

    <div th:each="property:${propertyList}" style="margin: 10px; display: inline-block;margin-top: 70px">
        <div th:onclick="|propertyDetail(${property.id})|" th:each="image, iterstat : ${imageMap.get(property.getId())}" th:class="${iterstat.index}== 0  ? 'carousel-item active':'carousel-item'">
            <img style="width: 280px; height: 280px" th:src="${image}" class="d-block w-100" alt="...">
        </div>
        <div style="font-size: 20px" th:text="${property.description}"></div>
    </div>

    <div th:insert="fragments/layout.html::footer"></div>

</body>
<script>
    function addWish(propertyId) {
        window.location.href="/wish/addWish?propertyId=" + propertyId;
    }

    function propertyDetail(propertyId) {
        window.location.href="/property/detail?propertyId=" + propertyId;
    }
</script>


</html>
